---
import donanteData from "../collections/donante.json";
const data = donanteData.codigo_donante;
---


<div class="container">
  <h1>Código Donante</h1>

  <div class="grid">
    <button class="btn" onclick="modal_inclusion.showModal(); modal_inclusion.scrollTop = 0;">Criterios de Inclusión</button>
    <button class="btn" onclick="modal_exclusion.showModal(); modal_exclusion.scrollTop = 0;">Criterios de Exclusión</button>
    <button class="btn" onclick="modal_evaluacion.showModal(); modal_evaluacion.scrollTop = 0;">Evaluación Inicial</button>
    <button class="btn" onclick="modal_traslado.showModal(); modal_traslado.scrollTop = 0;">Traslado</button>
    <button class="btn" onclick="modal_hospital.showModal(); modal_hosppital.scrollTop = 0;">Hospital</button>
  </div>
</div>

<dialog id="modal_inclusion">
  <h2>Criterios de Inclusión</h2>
  <ul>
    {data.criterios_inclusion.map(c => (
      <li>{c}</li>
    ))}
  </ul>
  <form method="dialog"><button class="btn btn-close">Cerrar</button></form>
</dialog>

<dialog id="modal_exclusion">
  <h2>Criterios de Exclusión</h2>
  <ul>
    {data.criterios_exclusion.map(c => (
      <li>{c}</li>
    ))}
  </ul>
  <form method="dialog"><button class="btn btn-close">Cerrar</button></form>
</dialog>

<dialog id="modal_evaluacion">
  <h2>Evaluación Inicial</h2>
  <ul>
    {data.evaluacion_inicial.items.map(item => (
      <li>{item}</li>
    ))}
  </ul>
  <form method="dialog"><button class="btn btn-close">Cerrar</button></form>
</dialog>

<dialog id="modal_traslado">
  <h2>Traslado</h2>
  <ul>
    {data.traslado.map(item => (
      <li>{item}</li>
    ))}
  </ul>
  <form method="dialog"><button class="btn btn-close">Cerrar</button></form>
</dialog>

<dialog id="modal_hospital">
  <h2>Hospital</h2>
  <ul>
      <li>{data.hospital_referencia}</li>
  </ul>
  <form method="dialog"><button class="btn btn-close">Cerrar</button></form>
</dialog>
